page-home {
  .main {
    background: linear-gradient(#90AFC5, #336B87);

    ion-card {
      position: relative;
      text-align: center;
      box-shadow: 3px 3px 3px;
      border-radius: 4px;


      ion-row {
        margin-top: -63px;

        ion-icon {
          color: white;
        }
      }
    }


    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      margin-bottom: 5px;
    }

    .card-content {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      margin-top: 5px;
    }
  }
}
